.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  z-index: 999;
  .content__flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 10px;
    @include response-to(mobile-xl) {
      height: 100%;
      padding: 10px 0;
    }
    .content__timer {
      white-space: nowrap;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      font-weight: 600;
      height: 150px;
      margin-top: 20px;
      font-feature-settings: "tnum" on, "lnum" on;
      display: flex;
      align-items: center;
      justify-content: center;
      @include response-to(mobile-xl) {
        padding-top: 80px;
        font-size: 110px;
        flex: 1;
      }
      @include response-to(mobile-l) {
        font-size: 90px;
      }
    }
    .content__flex {
      display: flex;
      align-items: center;
      margin-top: 30px;
      width: 350px;
      justify-content: space-between;
      @include response-to(mobile-xl) {
        margin-bottom: 50px;
      }
      @include response-to(mobile-l) {
        width: 250px;
      }
      .content__icon {
        .clear-icon {
          font-size: 25px;
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
        }
        .next-icon {
          font-size: 35px;
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
        }
        &.content__events {
          transition: font-size 0.5s ease, color 0.3s ease;
          cursor: pointer;
          &:hover {
            color: #f06565;
          }
        }
      }

      .content__start {
        font-size: 25px;
        letter-spacing: 3px;
        cursor: pointer;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
