.menu {
  position: absolute;
  top: 10%;
  z-index: 1000;
  @include response-to(mobile-xl) {
    top: 5%;
  }
  .menu__flex {
    display: flex;
    gap: 20px;
    .menu__item {
      padding: 7px 0;
      transition: background 0.4s;
      &.active {
        border-bottom: 2px solid #f06565;
      }
      &:hover h1 {
        color: #f06565;
      }
      h1 {
        font-size: 16px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.4s;
        white-space: nowrap;
        @include response-to(mobile-l) {
          font-size: 14px;
        }
      }
    }
  }
}
