.modal-background {
  visibility: hidden;
  &.modal-background-open {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
    width: 350px;
    position: absolute;
    top: 7%;
    right: 2%;
    transform: scale(0.5);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
    @include response-to(tablet) {
      background-color: rgba(0, 0, 0, 0.674);
    }
    @include response-to(mobile-xl) {
      width: 300px;
    }
    @include response-to(mobile-l) {
      width: 280px;
    }
    &.modal-open {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
    .modal__flex {
      width: 100%;

      .modal__header {
        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        .modal__header-title {
          font-size: 20px;
        }
        .modal__header-icon-container {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 7px;
          border-radius: 20px;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          .modal__header-icon {
            font-size: 25px;
          }
        }
      }
      .modal__body {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        height: 500px;
        max-height: 500px;
        padding: 20px 15px;
        .modal__item {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 20px;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          .modal__item-title {
            font-size: 16px;
          }
          .modal__item-inputs {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            @include response-to(mobile-xl) {
              flex-direction: column;
            }
            .modal__item-inputs-box-container {
              display: flex;
              flex-direction: column;
              .modal__item-inputs-box-title {
                font-size: 15px;
                margin-bottom: 10px;
              }
              .modal__item-inputs-box {
                border: 1px solid white;
                border-radius: 7px;
                height: 35px;
                width: 90px;
                padding: 5px;
                margin-bottom: 5px;
                .modal__item-single-input {
                  width: 100%;
                  height: 100%;
                  background-color: transparent;
                  outline: none;
                  border: none;
                  font-size: 16px;
                  color: white;
                }
                @include response-to(mobile-xl) {
                  width: 100%;
                }
              }
              .modal__item-inputs-box-minutes {
                margin-left: 3px;
                color: rgb(186, 186, 186);
              }
            }
          }
          .modal__item-input {
            width: 100%;
            cursor: pointer;
            position: relative;
            .modal__item-box {
              width: 100%;
              border-radius: 7px;
              border: 1px solid white;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 10px;
              .modal__item-icon-container {
                display: flex;
                align-items: center;
                .modal__item-icon {
                  font-size: 20px;
                }
              }
            }
            .modal__item-appear {
              display: flex;
              flex-direction: column;
              position: absolute;
              height: 50px;
              width: 100%;
              z-index: 500;
              overflow-y: auto;
              border-radius: 5px;
              background-color: rgba(28, 27, 27, 0.962);
              opacity: 0;
              visibility: hidden;
              transition: height 0.1s ease-out, opacity 0.1s ease-out,
                visibility 0.1s ease-out;
              &.modal__item-appear-open {
                height: 150px;
                opacity: 1;
                visibility: visible;
              }
              .modal__item-font {
                padding: 10px 15px;
                &:hover {
                  background-color: black;
                }
                &.active {
                  border-left: 3px solid #f06565;
                }
              }
            }
          }
        }
      }
    }
  }
}
