.modal-background {
  visibility: hidden;
  &.modal-background-open {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.248);
    border-radius: 15px;
    height: 350px;
    width: 300px;
    position: absolute;
    top: 7%;
    right: 2%;
    transform: scale(0.5);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
    &.modal-open {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
    .modal__flex {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 20px 15px;
      .modal__item {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        .modal__item-title {
          font-size: 16px;
        }
        .modal__item-input {
          width: 100%;
          cursor: pointer;
          .modal__item-box {
            width: 100%;
            border-radius: 7px;
            border: 1px solid white;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            .modal__item-icon-container {
              display: flex;
              align-items: center;
              .modal__item-icon {
                font-size: 20px;
              }
            }
          }
          .modal__item-appear {
            height: 50px;
            width: 100%;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.332);
            opacity: 0;
            visibility: hidden;
            transition: height 0.1s ease-out, opacity 0.1s ease-out,
              visibility 0.1s ease-out;
            &.modal__item-appear-open {
              height: 70px;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
