@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&display=swap');
$breakpoint-mobile-s: 320px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-l: 425px;
$breakpoint-mobile-xl: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;

@mixin response-to($breakpoint) {
  @if $breakpoint == mobile-s {
    @media (max-width: $breakpoint-mobile-s) {
      @content;
    }
  } @else if $breakpoint == mobile-m {
    @media (max-width: #{$breakpoint-mobile-m}) {
      @content;
    }
  } @else if $breakpoint == mobile-l {
    @media (max-width: #{$breakpoint-mobile-l}) {
      @content;
    }
  } @else if $breakpoint == mobile-xl {
    @media (max-width: #{$breakpoint-mobile-xl}) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: #{$breakpoint-tablet}) {
      @content;
    }
  } @else if $breakpoint == laptop {
    @media (max-width: #{$breakpoint-laptop}) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (max-width: #{$breakpoint-desktop}) {
      @content;
    }
  }
}
